
 <div class="row">
  <div class="label">Nome</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.nome" value="${entity?.nome}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.nome')}</span>
</div>


 <div class="row">
  <div class="label">Comentario</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.comentario" value="${entity?.comentario}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.comentario')}</span>
</div>


 <div class="row">
  <div class="label">Citacao</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.citacao.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Citacao.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.citacao?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.citacao')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


