#{extends 'main.html' /}

<h2>Citacaos</h2>

<table class="entity Citacao">
	<thead>
		<tr>
			<th><!-- actions --></th>
			
	        
				<th>Citacao</th>
	        
			
	        
				<th>Autor</th>
	        
			
	        
				<th>Usuario</th>
	        
			
	        
				<th>Id</th>
	        
			
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Citacaos.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Citacaos.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Citacaos.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
			
        
					<td>${entity.citacao}</td>
        
			
        
					<td>${entity.autor}</td>
        
			
        
					<td>${entity.usuario}</td>
        
			
        
					<td>${entity.id}</td>
        
			
		</tr>
	#{/list}
	</tbody>
</table>

<a href="@{Citacaos.create}">Create</a>
