#{extends 'main.html' /}

<h2>View Citacao</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			citacao:
		</span>
		<span class="value">
      ${entity.citacao}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			autor:
		</span>
		<span class="value">
      ${entity.autor}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			usuario:
		</span>
		<span class="value">
      ${entity.usuario}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Citacaos.index}">Back</a>

